#main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  .tracking-out-contract {
    -webkit-animation: tracking-out-contract 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) reverse both;
            animation: tracking-out-contract 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) reverse both;
}

.datePicker {
  background: white;
  font-size: 2rem;
  height: auto;
}