
.textShadow{



  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.ml6 {
    position: relative;
    font-weight: 400;
    font-size: 16em;
  }

  @media (max-width: 635px) {
    .ml6 {
      font-size: 10em;
    }
  }

  @media (max-width: 396px) {
    .ml6 {
      font-size: 5em;
    }
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .slide-in-top {
    -webkit-animation: slide-in-top 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
            animation: slide-in-top 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}




